# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
app-dist/
out-tsc/
tmp/
logs/*
!logs/.gitkeep
docs/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache/
connect.lock/
coverage/*
libpeerconnection.log
npm-debug.log
npm-debug.log.*
testem.log
lerna-debug.log

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db
_reports
temp

# dependencies
package-lock.json
node_modules
yarn-error.log
